<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="sharedSessionStore" type="IOL.SharedSession.ProviderConfiguration, IOL.SharedSession" />
    <section name="sessionServer" type="IOL.SharedSessionServer.SessionServerConfiguration, IOL.SharedSessionServer" />

  </configSections>

  <connectionStrings>
    <!--<add name="MongoSessionServices" connectionString="mongodb://107.23.105.162" />-->
    <add name="MongoSessionServices" connectionString="mongodb://localhost" />
    <!--<add name="MongoSessionServices" connectionString="Data Source=DEVELOPER3;Initial Catalog=SessionDB;Persist Security Info=True;User ID=sa;Password=entrando800"/>-->

  </connectionStrings>

  <sharedSessionStore providerType="IOL.SharedSession.Providers.LocalSharedSessionServerProvider, IOL.SharedSession" />
  <sessionServer sessionTimeOut="30" connectionStringName="MongoSessionServices" expirationPollingPeriod="10" />


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <sessionState mode="Custom" customProvider="SharedSession" cookieless="false" sessionIDManagerType="IOL.SharedSession.SharedSessionIDManager, IOL.SharedSession">
      <providers>
        <add name="SharedSession" type="IOL.SharedSession.SharedSessionStoreProvider, IOL.SharedSession" />
      </providers>
    </sessionState>


  </system.web>


  <appSettings>
    <add  key="ApplicationName" value="Mongo"/>
  </appSettings>

</configuration>
