<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="sharedSessionStore" type="IOL.SharedSession.ProviderConfiguration, IOL.SharedSession" />
    <section name="sessionServer" type="IOL.SharedSessionServer.SessionServerConfiguration, IOL.SharedSessionServer" />
  </configSections>

  <connectionStrings>
    <!--<add name="MongoSessionServices" connectionString="mongodb://107.23.105.162" />-->

    <add name="MongoSessionServices" connectionString="mongodb://localhost" />
    <!--<add name="SessionDB" connectionString="Data Source=DEVELOPER3;Initial Catalog=SessionDB;Persist Security Info=True;User ID=sa;Password=entrando800"/>-->
  </connectionStrings>

  <sharedSessionStore providerType="IOL.SharedSession.Providers.LocalSharedSessionServerProvider, IOL.SharedSession" />
  <sessionServer sessionTimeOut="30" connectionStringName="MongoSessionServices" expirationPollingPeriod="10" />

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>