<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="sessionServer" type="IOL.SharedSessionServer.SessionServerConfiguration, IOL.SharedSessionServer"/>
		<section name="serviceSharedSession" type="IOL.SharedSession.Providers.ServiceSharedSessionServerProviderConfiguration, IOL.SharedSession"/>
		<section name="sharedSessionStore" type="IOL.SharedSession.ProviderConfiguration, IOL.SharedSession"/>
	</configSections>
	<connectionStrings>
		<add name="SessionDB" connectionString="Data Source=DEVELOPER3;Initial Catalog=SessionDB;Persist Security Info=True;User ID=sa;Password=entrando800"/>
	</connectionStrings>
	<sharedSessionStore providerType="IOL.SharedSession.Providers.LocalSharedSessionServerProvider, IOL.SharedSession"/>
	<sessionServer sessionTimeOut="30" connectionStringName="SessionDB" expirationPollingPeriod="10"/>
	<!--
	<sharedSessionStore providerType="IOL.SharedSession.Providers.ServiceSharedSessionServerProvider, IOL.SharedSession"/>
	<serviceSharedSession checkAlivePeriod="1">
		<serverList>
			<add name="Server1" address="http://localhost:4441/SessionServer"/>
			<add name="Server2" address="http://localhost:4442/SessionServer"/>
			<add name="Server3" address="http://localhost:4443/SessionServer"/>
		</serverList>
	</serviceSharedSession>
	-->
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
